*.log
*.pyc
*.class
.classpath
.project
*~
build
*.swp
.DS*
*#*
*~
.idea
.idea/*.*
.idea/libraries/*.xml
*.iml
*.ipr
mongo-hadoop.jar
examples/*/*.jar
WDI_GDF_Data.csv
.idea
.idea/libraries/lib2.xml
.idea/workspace.xml
core/target/*/*
core/target/*
examples/*/target/*/*
examples/*/target/*
flume/target/*/*
flume/target/*
pig/target/*/*
pig/target/*
mongo-*.jar
project/target/*
streaming/target/*
target/*
.lib/*
*.gem
testing/*.pyc
*.jar
streaming/language_support/python/dist/
streaming/language_support/python/pymongo_hadoop.egg-info/
