*.log
*.pyc
*.class
.classpath
.project
*~
build
*.swp
.DS*
*#*
*~
.idea
*.iml
*.ipr
WDI_GDF_Data.csv
.idea
target
*.gem
testing/*.pyc
streaming/language_support/python/dist/
streaming/language_support/python/pymongo_hadoop.egg-info/
metastore_db/
TempStatsStore/
*.splits
*.crc
tags
bin/hadoop-all.sh
