*#*
*.crc
*.gem
*.iml
*.ipr
*.iws
*.log
*.out
*.pyc
*.splits
*.swp
*~
.DS*
.classpath
.gradle
.idea
.project
TempStatsStore/
WDI_GDF_Data.csv
bin/hadoop-all.sh
build
examples/data
logs
out
metastore_db/
streaming/language_support/python/dist/
streaming/language_support/python/pymongo_hadoop.egg-info/
tags
target
test-*.out
hadoop-binaries
deploy_jars*
.cache
bin/
docs/