body {
    overflow-y: scroll;
    padding: 0;
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
}
pre, code, tt {
    font-family: 'andale mono', 'lucida console', monospace
}
div.top.nav {
    background: white;
    z-index: 1;
}
p {
    width: 32em;
}
a.page {
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    font-size: 2em;
    text-align: right;
    color: black;
    text-decoration: none;
    display: block;
    padding: 0 1.5em;
}
a.page.next {
    right: 0;
}
a.page:hover {
    color: #06c;
    background: #efefef;
}
a.page span.space {
    display: block;
    height: 45%;
}
span.flip {
    display: block;
    -moz-transform: rotate(180deg);  
    -o-transform: rotate(180deg);  
    -webkit-transform: rotate(180deg);  
    -ms-transform: rotate(180deg);  
    transform: rotate(180deg);  
    filter: progid:DXImageTransform.Microsoft.Matrix( 
        M11=-1, M12=-1.2246063538223773e-16, M21=1.2246063538223773e-16, M22=-1, sizingMethod='auto expand');
    zoom: 1;
}

a.fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
a.tochead {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    color: black;
    text-decoration: none;
    display: block;
    padding: 1.5em 0em 0em;
}
.collap a.tochead:hover {
    color: #06c;
    background: #efefef;
}
