body {
    font-size: 100%;
    font-family: Georgia, serif;
    padding: 0 1em;
}
h1,h2,h3,h4,h5, .title {
    text-rendering: optimizeLegibility;
}
pre, code, tt {
    font-family: monospace
}
div.top.nav {
    border-bottom: black solid 1px;
}
div.top.nav.title {
    text-align: center;
    font-size: 1.2em;
}
div.top.nav.title span, .generated.nav {
    font-style: italic;
}
div.top.nav div.outline {
    display: none;
}
div.top.nav div.outline ol {
    margin-bottom: 1em;
}
div.container {
    position: relative;
    background: white;
    height: 100%;
}
div.contents {
    padding-top: 1.5em;
    background: white;
}
.current {
    font-weight: bold;
}
ol.toc ol.toc {
    list-style-type: lower-alpha;
}
ol.toc ol.toc ol.toc {
    list-style-type: lower-roman;
}
ol.toc li.generated {
    list-style-type: circle;
    font-style: italic;
}
ul.outline {
    font-style: italic;
    list-style-type: circle;
}
a.page {
    display: none;
}